In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from sklearn.model_selection import train_test_split

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer#convert text data into numerical format

In [22]:
from sklearn.linear_model import LogisticRegression

In [25]:
from sklearn.metrics import accuracy_score

In [3]:
l=[2,4,5,6]
n=np.array(l)

In [4]:
n

array([2, 4, 5, 6])

In [26]:
email= pd.read_csv("C:\\Users\\Chenali\\Documents\\spam_data_detection.csv")
email.head(5)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
email.isnull().sum()

Category    0
Message     0
dtype: int64

In [9]:
email.duplicated().sum()

415

In [10]:
email.drop_duplicates(inplace=True)

In [11]:
email

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5157 rows x 2 columns]

In [23]:
y_train,y_test,x_train,x_test=train_test_split(email["Category"],email["Message"],test_size=0.2)

In [24]:
len(x_train)

4125

In [27]:
email.shape

(5572, 2)

In [39]:
#spam=0 and ham=1
email.loc[email["Category"] == "spam", "Category",]=0
email.loc[email["Category"] == "ham", "Category",]=1

In [30]:
email

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [36]:
x=email["Message"]
y=email["Category"]

In [37]:
print(x)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [40]:
print(y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [41]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=3)

In [42]:
len(x_train)

4457

In [43]:
len(x_test)

1115

In [44]:
#Feature Extraction(convert text data into numerical format)
feature_extraction = TfidfVectorizer(min_df = 1,stop_words = "english", lowercase="True")
#min_df for minimum numer of count is 1 and get only more than 1 count words
#stop_words means ignore is,the , did like words
#lowercase means convert all words into lowercase

In [45]:
x_train_features=feature_extraction.fit_transform(x_train)

In [51]:
x_test_features=feature_extraction.fit_transform(x_test)

In [52]:
#convert y data type into int
y_train=y_train.astype('int')
y_test=y_test.astype('int')

In [53]:
y_train

3075    1
1787    1
1614    1
4304    1
3266    0
       ..
789     0
968     1
1667    1
3321    1
1688    0
Name: Category, Length: 4457, dtype: int32

In [54]:
print(x_train_features)

  (0, 5413)	0.6198254967574347
  (0, 4456)	0.4168658090846482
  (0, 2224)	0.413103377943378
  (0, 3811)	0.34780165336891333
  (0, 2329)	0.38783870336935383
  (1, 4080)	0.18880584110891163
  (1, 3185)	0.29694482957694585
  (1, 3325)	0.31610586766078863
  (1, 2957)	0.3398297002864083
  (1, 2746)	0.3398297002864083
  (1, 918)	0.22871581159877646
  (1, 1839)	0.2784903590561455
  (1, 2758)	0.3226407885943799
  (1, 2956)	0.33036995955537024
  (1, 1991)	0.33036995955537024
  (1, 3046)	0.2503712792613518
  (1, 3811)	0.17419952275504033
  (2, 407)	0.509272536051008
  (2, 3156)	0.4107239318312698
  (2, 2404)	0.45287711070606745
  (2, 6601)	0.6056811524587518
  (3, 2870)	0.5864269879324768
  (3, 7414)	0.8100020912469564
  (4, 50)	0.23633754072626942
  (4, 5497)	0.15743785051118356
  :	:
  (4454, 4602)	0.2669765732445391
  (4454, 3142)	0.32014451677763156
  (4455, 2247)	0.37052851863170466
  (4455, 2469)	0.35441545511837946
  (4455, 5646)	0.33545678464631296
  (4455, 6810)	0.29731757715898277
  (4455, 6091)	0.23103841516927642
  (4455, 7113)	0.30536590342067704
  (4455, 3872)	0.3108911491788658
  (4455, 4715)	0.30714144758811196
  (4455, 6916)	0.19636985317119715
  (4455, 3922)	0.31287563163368587
  (4455, 4456)	0.24920025316220423
  (4456, 141)	0.292943737785358
  (4456, 647)	0.30133182431707617
  (4456, 6311)	0.30133182431707617
  (4456, 5569)	0.4619395404299172
  (4456, 6028)	0.21034888000987115
  (4456, 7154)	0.24083218452280053
  (4456, 7150)	0.3677554681447669
  (4456, 6249)	0.17573831794959716
  (4456, 6307)	0.2752760476857975
  (4456, 334)	0.2220077711654938
  (4456, 5778)	0.16243064490100795
  (4456, 2870)	0.31523196273113385

In [55]:
model1=LogisticRegression()

In [57]:
model1.fit(x_train_features,y_train)

LogisticRegression()

In [58]:
predictiom_training_values=model1.predict(x_train_features)

In [67]:
accuracy_training_data1=accuracy_score(y_train,predictiom_training_values)

In [68]:
accuracy_training_data1

0.9670181736594121

In [76]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
x_train_count=v.fit_transform(x_train.values)
x_test_count=v.fit_transform(x_test.values)

x_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [62]:
model2=LogisticRegression()

In [64]:
model2.fit(x_train_count,y_train)

LogisticRegression()

In [65]:
predictiom_training_values1=model2.predict(x_train_count)

In [66]:
accuracy_training_data=accuracy_score(y_train,predictiom_training_values1)

In [69]:
accuracy_training_data

0.997083239847431

In [75]:
x_train_features.shape

(4457, 7431)

# USING NAIVE-BIAS

In [80]:
from sklearn.naive_bayes import MultinomialNB#This use for deal with text data
model3=MultinomialNB()
model3.fit(x_train_features,y_train)

MultinomialNB()

In [81]:
predictiom_training_values3=model3.predict(x_train_features)

In [82]:
accuracy_training_data3=accuracy_score(y_train,predictiom_training_values3)

In [83]:
accuracy_training_data3

0.9807045097599282